node_modules/
eslint-cache/
.eslintcache
.DS_Store
Thumbs.db
pnpm-debug.log
npm-debug.log
dist/
scripts/__pycache__
.vscode
.env
playwright-report/
pw-out.*
playwright-results.json
test_err*.txt
test_out*.txt